.BlockText{
display: flex;
align-items: center;
justify-content: center;
width: 450px;
height: 400px;
opacity: 0%;
}

    font-size: 37px;
}
.S1mple{
width: 450px;
height: 400px;
}
.S1mple{
    width: 100%;
}
.conteiner{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.BlockText :hover + .S1mple{
    opacity: 100%;
}